<launch>

<arg name="collect_data" default="false"/>
<arg name="video" default="false"/>
<arg name="name" default="infrastructure_trial"/>
<arg name="robot_jointState_topic" default="/"/>

<param name="test_name" type="string" value="$(arg name)" />
<param name="record_video" type="boolean" value="$(arg video)" />
<param name="record_trial_rosbags" type="boolean" value="$(arg collect_data)" />
<param name="robot_joints" type="string" value="$(arg robot_jointState_topic)" />


<include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />
<include file="$(find flexbe_app)/launch/flexbe_ocs.launch">
	<arg name = "no_app" value = "false"/>
</include>

<!-- <remap from="$(arg robot_jointState_topic)" to="/robot_joints_infsensor" if="$(arg collect_data)"/> -->

<!-- 
<node pkg="rosbag" type="record" name="rosbag_record_sensors"
       args="record -o $(find data_collection)/stored_data/rosbags/$(arg name) -e '(.*)_infsensor'" if="$(arg collect_data)"/>  

<node pkg="rosbag" type="record" name="rosbag_record_timestamps"
       args="record -o $(find data_collection)/stored_data/rosbags/timestamps -e '(.*)_timestamps'" if="$(arg collect_data)"/>   -->

<node pkg="data_collection" name="data_collection" type="data_collection.py" output="screen"/>

<!-- <node pkg="arm_control" name="example_arm_controller" type="example_arm_controller.py" output="screen"/> -->




</launch>

